@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&family=Roboto:wght@400;500;700&display=swap');

:root{
    --primary-color: #3A3A3A;
    --secondary-color: #f4f7fc;
    --gray-color: #a6a6a6;
}

html{
    font-size: 62.5%; 
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

body{
    font-family: 'Playfair Display', serif;
}

h1, h2, h3{
    font-weight: 800;
    color: var(--primary-color);
    margin: 1.6rem 0;
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 3rem;
}

h3{
    font-size: 2rem;
   
}

p{
    font-weight: 400;
    margin: 1.5rem 0;
    font-size: 1.6rem;
    color: var(--primary-color);
}

a{
    text-decoration: none;
    /* margin: 1.6rem;  */
    color: var(--gray-color);
    font-size: 1.6rem;
}

span{
    color: var(--gray-color);
    font-size: 1.6rem;
    font-weight: 500;
}

.container{
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 2rem;
}
/* <!-- navigation  -->  */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .menu a {
    color: var(--primary-color);
    font-weight: 700;
    margin: 1.6rem;
}
/* hero section  */
.hero{
   display: grid;
   grid-template-columns: 2fr 1fr;
}

.rigth{
    background-color: rgb(176, 162, 162);
}

.left{
    background-image: url(./img/hero-right.png);
    background-size: cover;
    height: 70vh;
    background-repeat: no-repeat;
    background-position: center;
}

.content-box{
   background-color: white;
   position: absolute;
   padding: 3rem;
   width: 32%;
   top: 23%;
   left: 44%;
}

/* blog section  */

.blog-container{
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 2rem;
}

main{
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 5rem 0;
    grid-gap: 5rem;
}

.blog{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.blog-post{
    background-color: var(--secondary-color);
    margin: 1.6rem;
    padding: 1.6rem;
}

.blog .thumnall{
    object-fit: contain;
}

.blog-content{
   margin: 1.6rem;
}
.wrapper{
    display: flex;
    align-items: center;
}

/* .wrapper h3 {
    font-size: 1rem;
} */

.wrapper .thumb{
    flex: 1;
}

.wrapper .content{
    flex: 2;
    padding: 1.6rem;
}

.pagination a{
    margin: 1.6rem;
}

.active{
    background: var(--secondary-color);
    padding: 1.6rem;

}

footer{
    background-color: darkgreen;
    margin-top: 2rem;
    padding: 5rem 0;
}

.footer p{
    color: #f4f7fc;
}

.footer a{
  justify-content: space-between;
}

.footer2{
    background-color: black;
    height: 3rem;
    color: aliceblue;
    text-align: center;
    padding: .5rem;
    font-size: 2rem;
}

.footer{
margin: 1rem ;
}

/* .footer-wrapper, h2, h3, p, a{
    color: white;
} */
.footer h3{
  color: white;
}
.footer-wrapper{
    display: flex;
    justify-content: space-around;
    gap: 10rem; 
}

.footer-wrapper .footer-three{
   
}

.social{
    display: flex;
}


@media (max-width:768px){
     nav{
        flex-direction: column;
        padding-bottom: 2rem;
     }
     h1{
        font-size: 3rem;
     }

     .hero{
        grid-template-columns: 1fr;
     }

     .content-box{
        width: 80%;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
     }

     main{
        grid-template-columns: 1fr;
     }

     .blog{
        grid-template-columns: 1fr;
     }
}