body {
  display: grid;
  min-block-size: 100vh;
  place-content: center;
  font-family: system-ui;
  font-size: 1.125rem;
  background-color: var(--clr-primary-800);
}

.tag-list {
  margin: 0;
  padding-inline: 0;
  list-style: none;
}

.tag-list li {
  padding: 1rem;
  background-color: gray;
  box-sizing: 0.5rem;
  box-shadow: 0 0.5rem 1rem -0.25rem red;
}

.scroller {
    max-width: 1200px;
    overflow: hidden;
    /* outline: 3px solid lime; */
  }


.scroller__inner{
    padding-block: 1rem;
    display: flex;
    gap: 1rem;
}